@import url(blocks/header);
@import url(blocks/info-blocks);
@import url(blocks/_dark-theme.scss);
@import url(blocks/_desktop.scss);

$small-shadow: 0px 1px 3px rgb(188, 199, 212);
$shadow-lm: #d2d8e0;
$text-color-lm: #17204d;
$width-border: 1px solid;
$block-color-lm: #fcfdff;
$red-color: #bd201e;
$block-color-dm: #1f2535;
$shadow-dm: #363c52;
$border-edges-sharp: 10px;
$border-edges-round: 27px;


