@import 'modules scss/variables';
@import 'modules scss/header';
@import 'modules scss/info-blocks';
@import 'modules scss/dark-theme';
@import 'modules scss/desktop';
@import 'modules scss/buttons';


body {
  font-family: "Noto Sans";
  background-color: #ecf3fd;
  color: $text-color-lm;
  display: block;
  justify-content: center;
  text-align: center;
  padding: 1em;
}

.main-block {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

