:root {
  --small-shadow: 0px 1px 3px rgb(188, 199, 212);
  --shadow-lm: #d2d8e0;
  --text-color-lm: #17204d;
  --width-border: 1px solid;
  --block-color-lm: #fcfdff;
  --red-color: #bd201e;
  --block-color-dm: #1f2535;
  --shadow-dm: #363c52;
  --border-edges-sharp: 15px;
  --border-edges-round: 27px;
}

body {
  font-family: "Noto Sans";
  background-color: #ecf3fd;
  color: var(--text-color-lm);
  display: block;
  justify-content: center;
  text-align: center;
  padding: 1em;
 
}

.header-block {
  display: flex;
  justify-content: space-between;
  background-color: var(--block-color-lm);
  border-radius: var(--border-edges-sharp);
  border: var(--width-border);
  border-color: var(--shadow-lm);
  box-shadow: var(--small-shadow);
}

.mode-button {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: var(--border-edges-sharp);
  margin: 0.5em;
  padding: 0;
  transition: filter 400ms;
}

.logo-extensions {
  width: 11em;
  padding: 10px;
}

.extensions-block h1 {
  font-size: 38px;
  margin-top: 1.5em;
}

.category-button {
  background-color: var(--block-color-lm);
  font-size: 22px;
  border-radius: var(--border-edges-round);
  padding: 0.7rem 1.4rem;
  color: var(--text-color-lm);
  border: var(--width-border);
  border-color: var(--shadow-lm);
  box-shadow: var(--small-shadow);
  transition: all 200ms;
}

ul {
  padding: 0;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 25em;
  height: 12em;
  margin: 1em auto;
  display: block;
  background-color: var(--block-color-lm);
  padding: 1rem;
  border-radius: var(--border-edges-sharp);
  border: var(--width-border);
  border-color: var(--shadow-lm);
  box-shadow: var(--small-shadow);
}

.info-block {
  display: flex;
}

.logo-img {
  width: 3.5em;
  flex-shrink: 0;
  padding-bottom: 4em;
}

.text-block {
  text-align: left;
  margin-left: 17px;
  margin-right: 20px;
  line-height: 23px;
}

.text-block h2 {
  margin-top: 0.5em;
}

.text-block p {
  color: #6d6f74;
}

.buttons-block {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}

.remove-button {
  border-width: 1px;
  background-color: var(--block-color-lm);
  border-radius: 27px;
  padding: 0.7rem 1rem;
  font-size: 17px;
  border: var(--width-border);
  border-color: var(--shadow-lm);
  transition: filter 200ms;
}









/* ----------------- SWITCH КНОПКА ------------------ */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-top: 9px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--red-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var();
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}

/* -------------------ANIMATION---------------------- */

.mode-button:hover {
  cursor: pointer;
  filter: invert(1);
  transition: filter 400ms;
}

.mode-button:active {
  transform: scale(0.95);
  transition: transform 0ms;
}

.category-button:hover {
  background-color: var(--red-color);
  color: var(--block-color-lm);
  transition: all 200ms;
  cursor: pointer;
}

.category-button:active {
  transform: scale(0.95);
  transition: all 0ms;
}

.remove-button:hover {
  cursor: pointer;
  filter: invert(1);
  transition: filter 200ms;
}

.remove-button:active {
  transform: scale(0.95);
  transition: transform 0ms;
}

/* -----------------------FOR DESKTOP------------------------ */

/* @media (min-width: 1024px) {
  body {
    padding: 10px 150px 20px 150px;
  }

  .header-block {
    width: 99%;
    margin: 20px auto;
    height: 60px;
  }

  .logo-extensions {
    width: 200px;
  }

  .mode-button {
    margin: 5px 5px;
  }

  .extensions-block {
    margin: 70px 10px 30px 10px;
    display: flex;
    justify-content: space-between;
  }

  .buttons-category {
    margin-top: 40px;
  }

  .category-button {
    margin-right: 10px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .block {
    width: 28%;
    height: 250px;
  }

  .buttons-block {
    margin-top: 10%;
  }

  .logo-img {
    flex-shrink: 0;
    width: 80px;
  }
} */

/* --------------------------DARK THEME------------------------ */
/* 
body {
    background: #050A1D;
    background: linear-gradient(180deg,rgba(5, 10, 29, 1) 0%, rgba(7, 16, 47, 1) 50%, rgba(10, 21, 64, 1) 100%);
    color: var(--light-inside-color);
}

.header-block {
    background-color: var(--light-dark-color);
    border: none;
    box-shadow: none;
}



.category-button {
    color: var(--light-inside-color);
    background-color: var(--light-dark-color);
    box-shadow: none;
    border-color: var(--shadow-dark-mode);
}

.block {
    background-color: var(--light-dark-color);
    border-color: var(--shadow-dark-mode);
    box-shadow: none;
}

.text-block p {
    color: #c3c7d2;
}

.remove-button {
    background-color: var(--light-dark-color);
    color: var(--light-inside-color);
    border-color: var(--shadow-dark-mode);
}

.logo-text {
    fill: var(--light-inside-color);
} */
