
:root {
    --small-shadow: 0px 1px 3px rgb(188, 199, 212);
    --color-of-shadow: #d2d8e0;
    --dark-text-color: #17204d;
    --width-border: 1px solid;
    --light-inside-color: #fcfdff;
    --red-color: #bd201e;
}



body {
    font-family: 'Noto Sans';
    background-color: #ecf3fd;
    color: var(--dark-text-color);
}

.body-block {
    display: block;
    justify-content: center;
    text-align: center;
}

.header-block {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-inside-color);
    border-radius: 10px;
    margin: 20px 15px 20px 15px;
    border: var(--width-border);
    border-color: var(--color-of-shadow);
    box-shadow: var(--small-shadow);
}

.mode-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 7px 7px 0px 0px;
    transition: filter 400ms;
}

.logo-extensions {
    width: 200px;
    padding: 10px;
}

.extensions-block h1{
    font-size: 38px;
    margin-top: 40px;
}

.category-button {
    background-color: var(--light-inside-color);
    font-size: 22px;
    border-radius: 27px;
    padding: 11px 22px 11px 22px;
    margin-bottom: 25px;
    color: var(--dark-text-color);
    border: var(--width-border);
    border-color: var(--color-of-shadow);
    box-shadow: var(--small-shadow);
    transition: all 200ms;
}

.block {
    display: block;
    background-color: var(--light-inside-color);
    margin: 20px 10px 7px 10px;
    padding: 0px 19px 19px 19px;
    border-radius: 15px;
    border: var(--width-border);
    border-color: var(--color-of-shadow);
    box-shadow: var(--small-shadow);
}

.info-block {
    display: flex;
}

.logo-img {
    width: 70px;
    flex-shrink: 0;
}

.text-block {
    text-align: left;
    margin-left: 17px;
    margin-right: 20px;
    line-height: 23px;
}

.text-block h2 {
    margin-top: 28px;
    margin-bottom: 0px;
}

.text-block p {
    color: #6d6f74;
}

.buttons-block {
    display: flex;
    justify-content: space-between;
}

.remove-button {
    border-width: 1px;
    background-color: var(--light-inside-color);
    border-radius: 20px;
    padding: 10px 14px 10px 14px;
    font-size: 17px;
    border: var(--width-border);
    border-color: var(--color-of-shadow);
    transition: filter 200ms;
}

/* ----------------- SWITCH КНОПКА ------------------ */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-top: 9px;
}

.switch input {
    display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--red-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var();
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}


/* -------------------ANIMATION---------------------- */

.mode-button:hover {
    cursor: pointer;
    filter: invert(1);
    transition: filter 400ms;
}

.mode-button:active {
    transform: scale(0.95);
    transition: transform 0ms;
}

.category-button:hover {
    background-color: var(--red-color);
    color: var(--light-inside-color);
    transition: all 200ms;
    cursor: pointer;
}

.category-button:active {
    transform: scale(0.95);
    transition: all 0ms;
}

.remove-button:hover {
    cursor: pointer;
    filter: invert(1);
    transition: filter 200ms;
}

.remove-button:active {
    transform: scale(0.95);
    transition: transform 0ms;
}


/* -----------------------FOR DESKTOP------------------------ */

@media (min-width: 1024px) {

    body {
        padding: 10px 150px 20px 150px;
    }

    .header-block {
        width: 99%;
        margin: 20px auto ;
        height: 60px;
    }

    .logo-extensions {
        width: 200px;
    }

    .mode-button {
        margin: 5px 5px;
    }

    .extensions-block {
        margin: 70px 10px 30px 10px;
        display: flex;
        justify-content: space-between;
    }

    .buttons-category {
        margin-top: 40px;
    }

    .category-button {
        margin-right: 10px;
    }

    .main-block {
        display: flex;
        flex-wrap: wrap;
    }
    
    .block {
        width: 29.4%;
        height: 250px;
    }

    .buttons-block {
        margin-top: 70px;
    }

    .logo-img {
        flex-shrink: 0;
        width: 80px;
    }
}